<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block">
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact Me:
          </h6>
          <p>
            <a href="https://www.facebook.com/FUB32" target="_blank">Facebook</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/mohamed-baqer-ghazee-3318871ba/" target="_blank">LinkedIn</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Other Projects
          </h6>
          <p>
            <a href="#!" class="text-reset">University (Current)</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact Info:
          </h6>
          <p><i class="fas fa-home me-3"></i>Baghdad, Karada, UOB</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Mohamedbaqer1932@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 964 77 1218 1424</p>
          <p><i class="fas fa-print me-3"></i> + 964 78 3420 2829</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Mohammed Baqer
  </div>
</footer>
<script type="text/javascript">


var checkbox = document.getElementById("ChangeTheme");
const themeStylesheet = document.getElementById('theme');
const themeToggle = document.getElementById('theme-toggle');
//check storage if dark mode was on or off
if (sessionStorage.getItem("mode") == "dark") {
  darkmode(); //if dark mode was on, run this funtion
} else {
  nodark(); //else run this funtion
}

//if the checkbox state is changed, run a funtion
checkbox.addEventListener("change", function() {
  //check if the checkbox is checked or not
  if (checkbox.checked) {
    darkmode(); //if the checkbox is checked, run this funtion
  } else {
    nodark(); //else run this funtion
  }
});

//function for checkbox when checkbox is checked
function darkmode() {

  themeStylesheet.href = '/css/dark-theme.css'; //add a class to the body tag
  checkbox.checked = true; //set checkbox to be checked state
  sessionStorage.setItem("mode", "dark"); //store a name & value to know that dark mode is on
}

//function for checkbox when checkbox is not checked
function nodark() {
  themeStylesheet.href = '/css/light-theme.css'; //remove added class from body tag
  checkbox.checked = false; //set checkbox to be unchecked state
  sessionStorage.setItem("mode", "light"); //store a name & value to know that dark mode is off or light mode is on
}
</script>
<body>
