<%- include("partials/header"); -%>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="display:show;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_500954400_401583.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="background:rgba(1,1,1,0.5);">
        <h5>Welcome To The Studend Helper</h5>
        <p>This website is fully develeped whith the student in mind.<br />It provides easy way to learn through luctures and Books.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.teahub.io/photos/full/37-379993_px-exam-wallpapers-4wc76kt-teacher-things-in-school.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style="background:rgba(1,1,1,0.5);">
        <h5>Where To Start</h5>
        <p>You can start by choosing the subject from the dropdown menu<br />of your stage at the top.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.theeditingco.com/assets/media/g10003/Finding-Your-Flow:-A-Self-Study-Approach-To-The-Academic-Writing-Process-1461395912.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block" style="background:rgba(1,1,1,0.5);">
        <h5>About The website</h5>
        <p>This website is fully develeped by the students of Group B<br />Mohamed Baqer, Salwan Adnan, mustafa nyaz, Aqeel saad, and Ahmed Aiad.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<%- include("partials/footer"); -%>
