body {
  background-color: #121212;
  color: white;
  transition: 0.5s;
  overflow: auto;
}
.ytvid {
  margin: 0 auto;
  display: block;
}
.videou {
  position: relative !important;
  display: block !important;
  border-bottom: 5px solid transparent !important;
}
.la {
  margin-top: -10px;
}

#ChangeTheme {
  width: 0;
  height: 0;
  opacity: 0;
}

.cr {
  margin: auto;
}

.generalLabel {
  display: block;
  height: 15px;
  width: 60px;
  position: relative;
}

span.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  border-radius: 30px;
  margin: auto;
}

span.slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 0px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}

.txt {
  position: relative;
  transform: translatex(-50px);
}

.txt p:nth-child(1) {
  color: grey;
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.5s;
}

#ChangeTheme:checked+span.slide:before {
  transform: translatex(40px);
}

/* if dark-mode class is added set this background */
body.dark-mode {
  background: #353535;
  color: white;
}

.dark-mode .txt p:nth-child(1) {
  color: #000;
  font-weight: normal;
}

.dark-mode .txt p:nth-child(2) {
  color: grey;
  font-weight: bold;
}

.bg-light {
  background-color: #282828 !important;
}

#analogcommunication {
  align-items: center;
}

tr {
  text-align: center
}

table.customTable {
  width: 100%;
  background-color: #02475E;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
  color: white;
}

table.customTable td,
table.customTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #393E46;
  color: white;
}

.vid {
  height: 300px;
  padding: 1%;
  margin-top: 50px;
  border-style: none;
}

.pdf {
  padding: 1%;
  margin-top: 50px;
  border-style: none;
}
.pdfs{
  margin-bottom: 50px;
}
.pdfphoto {
  height: 100%;
  width: 100%;
}
.mapouter {
  text-align: right;
  height: 500px;
  width: 600px;
}

.mapouter {
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

span {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-style: oblique;
  color: white !important;
}

.dropdown-backdrop {
  position: static;
}

#mainicon {
  height: 50px;
}

.dropdown-item {
  color: white;
  background-color: #282828;
}
.dropdown-menu{
  background-color: #282828;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 3px solid rgb(18, 93, 152);
  box-shadow: inset 0 0 4px 2px white;
}

::-webkit-scrollbar-thumb {
  background-color: #02475E;
  border-radius: 5px;
}
