body {
  background-color: #121212;
  color: white;
  transition: 0.5s;
  overflow: auto;
}
.ytvid {
  margin: 0 auto;
  display: block;
}
.videou {
  position: relative !important;
  display: block !important;
  border-bottom: 5px solid transparent !important;
}
.la {
  margin-top: -10px;
}
.carousel-item {
  	transition: -webkit-transform 0.5s ease;
  	transition: transform 0.5s ease;
  	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  	-webkit-backface-visibility: visible;
  	backface-visibility: visible;
}
#ChangeTheme {
  width: 0;
  height: 0;
  opacity: 0;
}

.cr {
  margin: auto;
}

.generalLabel {
  display: block;
  height: 15px;
  width: 60px;
  position: relative;
}

span.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  border-radius: 30px;
  margin: auto;
}

span.slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 0px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}

#ChangeTheme:checked+span.slide:before {
  transform: translatex(40px);
}

.vid {
  height: 300px;
  padding: 1%;
  margin-top: 50px;
  border-style: none;
}

.pdf {
  padding: 1%;
  margin-top: 50px;
  border-style: none;
}
.pdfs{
  margin-bottom: 50px;
}
.pdfphoto {
  height: 100%;
  width: 100%;

}

span {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-style: oblique;
  color: white !important;
}

.dropdown-backdrop {
  position: static;
}

#mainicon {
  height: 50px;
}

.dropdown-item {
  color: white;
  background-color: #282828;
}
.dropdown-menu{
  background-color: #282828;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 3px solid rgb(18, 93, 152);
  box-shadow: inset 0 0 4px 2px white;
}

::-webkit-scrollbar-thumb {
  background-color: #02475E;
  border-radius: 5px;
}
