body {
  background: white;
  transition: 0.5s;
  overflow: auto;
}
.embed-responsive{
    height: 50%;
    width: 50%;
}

.ytvid {
  margin: auto;
  display: block;
}


.la {
  margin-top: -10px;
}

#ChangeTheme {
  width: 0;
  height: 0;
  opacity: 0;
}

.lects {
  margin: auto;
}

.generalLabel {
  display: block;
  height: 15px;
  width: 60px;
  position: relative;
}

span.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dadada;
  border-radius: 30px;
  vertical-align: middle;
}

span.slide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: -2px;
  left: 0px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}

#ChangeTheme:checked+span.slide:before {
  transform: translatex(40px);
}

.vid {
  height: 300px;
  padding: 1%;
  margin: 10 ;
  display: block;
}

.pdf {
  padding: 1%;
  margin-top: 50px;
  border-style: none;
}
.pdfs{
  margin-bottom: 50px;
}

.pdfphoto {
  height: 100%;
  width: 100%;
}

span {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.nav-link {
  font-style: oblique;
}

.dropdown-backdrop {
  position: static;
}

#mainicon {
  height: 50px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 3px solid rgb(18, 93, 152);
  box-shadow: inset 0 0 4px 2px white;
}

::-webkit-scrollbar-thumb {
  background-color: #3C8DAD;
  border-radius: 5px;
}
